:root {
	--color-primary: #00572f;
	--color-primary-light: #05da76;
	--color-primary-hover: #004f7f;
	--color-accent: #d48f2a;
	--color-link: #750c9e;
	--color-background-color: #c3e1ff;
	--color-background-light: #f4f6f8;
	--color-disabled: #777777;
	--color-text: #1e293b;
	--color-text-light: #ffffff;
	--color-text-muted: #555;
	--color-surface: #f5f5f5;
	--color-border: #ddd;
	--color-indiana-gradient: linear-gradient(
		to bottom,
		#8b2e1c 0%,
		#c14a2e 20%,
		#e76f31 40%,
		#ff9f1c 60%,
		#ffd447 80%,
		#ffec8b 100%
	);
}
