header {
	padding: var(--spacing-md);
	background-color: var(--color-accent);
	color: var(--color-primary);
}

header .slogan h2 {
	margin-bottom: var(--spacing-sm);
	font-family: var(--font-family-serif);
	color: var(--color-primary);
}
